body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    background-color: lightgray;
}

h3 {
    margin: 0px;
}

main {
    display: flex;
    background-color: transparent;
    max-width: 1200px;
    margin: auto;
}

.news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
    width: 70%;
}

.news--article__large {
    display: flex;
    position: relative;
    flex-direction: column; 
    justify-content: space-between;
    width: 75%;
    height: 99.99%;
}

.news--article__large h2, p, span {
    margin: 5px 0;
}

.news--article__large p, span {
    font-size: 14px;
}

.news--article__small {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 33.33%;
    font-size: 12px;
}

.article--category {
    background-color: #033E7C;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 12px;
    padding: 3px 5px;
    position: absolute;
}

.news--article__large .article--category{
    margin-left: 20px;
    top: 20px;
}

.news--article__small .article--category {
    margin-left: 10px;
    top: 10px;
}

.article--content {
    color: white;
}

.news--article__large .article--content{
    margin: 30px;
}

.news--article__small .article--content {
    margin: 20px 9px;
}

.new--aspect_ratio_box {
    position: relative;
    padding-top: 75%;
}

.news--image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.news--date, .scrollable--date {
    font-style: italic;
}

.notifications {
    width: 30%;
    height: 390px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #414142;
    background-color: white;
}

.notifications--title {
    width:70%;
    font-family: 'Open Sans';
    font-size: 18px;
}

.notifications--scrollable {
    display: flex;
    flex-direction: column;
    margin: 20px;    
    overflow-y: scroll;
}

.scrollable--notification {
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    padding: 5px 0px;
}

.scrollable--date {
    font-size: 12px;
}

.notifications--button {
    width: 100%;
    padding: 13px 0px 18px 0px;
    background-color: #F2F2F2;
    border: 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    color: #414142;
}

@media screen and (max-width: 1200px){
    
    
    main {
        flex-direction: column;
        max-width: 825px;    
    }

    .news {
        width: 100%;
    }

    .notifications {
        width: 92.8%;
    }

    .notifications--title {
        width: 90%;
    }

    .notifications--scrollable {
        width: 75%;
    }

    .notifications--scrollable {
        width: 90%;
    }

    .notifications--button {
        width: 25%;
        font-size: 14px;
        padding: 10px 15px 15px 15px;
    }
}

@media screen and (max-width: 1000px){
    main {
        max-width: 825px;
    }

    .news {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 150px;
    }

    .news--article__large {
        width: 100%;
    }

    .news--article__small {
        width: 33.33%;
    }
}

@media screen and (max-width: 768px){

    main {
        width: 80%;
    }

    .news{
        margin-bottom: 450px;
    }

    .news--article__small {
        width: 100%;
        background-color: white;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .news--article__small .article--content {
        color: black;
        width: 100%;
        margin-left: 150px;
        margin-top: 50px
    }

    .news--article__small .article--category {
        margin-left: 150px;
        margin-top: 15px;
    }

    .news--aspect_ratio_box {
        width: 130px;
        height: 112px;
        position: absolute;
        z-index: 2; 
        margin: 20px 0 0 10px;
    }

    .notifications {
        width: 90.1%;
    }

    .notifications--button {
        width: 50%;
    }
}

@media screen and (max-width: 545px){
    main {
        width: 100%;
    }
}
