body {
    margin: auto;
    width: 1310px;
    font-family: 'Open Sans';
    background-color: lightgray;
}

h3 {
    margin: 0px;
}

main {
    background-color: transparent;
    position:  absolute;
    width: 1340px;
    margin-left: -60px;
}

.news {
    display: table-row;
}

.news--article__large {
    position: relative;
    width: 620px;
    padding-bottom: 466px; 
}

.news--article__large h2, p, span {
    margin: 5px 0;
}

.news--article__large p, span {
    font-size: 14px;
}

.news--articles {
    display: table-cell;
}

.news--article__small {
    font-size: 12px;
    width: 210px;
    padding-bottom: 60px;
    position: relative;
    bottom: 450px;
    margin-top: -22.5px;
}

.article--category {
    background-color: #033E7C;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 12px;
    padding: 3px 5px;
    position: absolute;
}

.news--article__large .article--category{
    margin-left: 20px;
    top: 20px;
}

.news--article__small .article--category {
    margin-left: 10px;
}

.article--content {
    color: white;
}

.news--article__large .article--content{
    position: absolute;
    margin-left: 20px;
    top: 300px;
}

.news--article__small .article--content {
    position: relative;
    margin: 20px 9px;
    top: 70px;
}

.new--aspect_ratio_box {
    position: relative;
    padding-top: 75%;
}

.news--image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.news--date, .scrollable--date {
    font-style: italic;
}

.notifications {
    width: 450px;
    padding: 60px 30px;
    color: #414142;
    background-color: white;
    position: relative;
    top: -956px;
    left: 830px;
}

.notifications--title {
    width: 55%;
    font-family: 'Open Sans';
    font-size: 18px;
    margin: 0 22.5% 30px 22.5%;;
}

.notifications--scrollable {
    height: 250px;  
    overflow-y: scroll;
}

.scrollable--notification {
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    padding: 5px 0px;
}

.scrollable--date {
    font-size: 12px;
}

.notifications--button {
    width: 100%;
    padding: 13px 0px 18px 0px;
    background-color: #F2F2F2;
    border: 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    color: #414142;
    margin-top: 30px;
}

@media screen and (max-width: 1400px){
    
    body {
        max-width: 825px;
    }

    main {
        width: 830px;
        margin-left: -40px;
    }

    .news {
        width: 100%;
    }

    .notifications {
        display: table;
        position: relative;
        width: 770px;
        top: -450px;
        left: 0px;
        margin-right: 0px;
    }

    .notifications--title {
        width: 30%;
        margin-left: 40px;
    }

    .notifications--scrollable {
        width: 100%;
        margin-left: 5%;
    }

    .notifications--scrollable {
        width: 90%;
    }

    .notifications--button {
        margin: 0 40%;
        width: 25%;
        font-size: 14px;
        padding: 10px 15px 15px 15px;
    }
}

@media screen and (max-width: 900px){
    body {
        max-width: 650px;
    }

    .news {
        margin-bottom: 150px;
        display: table-cell;
    }

    .news--article__large {
        width: 100%;
    }

    .news--article__small {
        width: 33.33%;
        display: table-cell;
        top: 0px;
    }

    .notifications {
        top: 0px;
        left: 0px;
    }
}

@media screen and (max-width: 768px){
    body {
        width: 100%;
        margin: auto;
    }

    main {
        width: 100%;
        margin: 0;
    }

    .news{
        margin-bottom: 450px;
        width: 150%;
    }

    .news--article__small {
        width: 100%;
        height: 150px;
        background-color: white;
        display: table-row;
    }

    .news--article__small h3 {
        width: 75%;
    }

    .news--article__small .article--content {
        color: black;
        width: 100%;
        margin-left: 150px;
        top: 50px;
    }

    .news--article__small .article--category {
        margin-left: 150px;
        margin-top: 15px;
    }

    .news--aspect_ratio_box {
        width: 130px;
        height: 112px;
        position: absolute;
        z-index: 2; 
        margin: 20px 0 0 10px;
    }

    .notifications {
        width: 583.5px;
    }

    .notifications--title {
        width: 50%;
    }

    .notifications--button {
        width: 50%;
        margin: 5% 20%;
    }
}

@media screen and (max-width: 545px){
    main {
        width: 645px;
    }
}
